/* @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container{
    overflow-y: auto;
    cursor: pointer;
}

.main{
    font-family: 'Fredoka One';
}

.navs{
    position: fixed;
    top: 0;
    padding: 2% 5% 1% 5%;
    color: rgb(19, 19, 19);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color:#fffbf5;
}

.logoName{
    font-size: 1em;
    letter-spacing: 2px;
    color: black;
    line-height: 0.70em;
}

.loginName{
    cursor: pointer;
}

.flexIt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.space{
    flex: 1;
}

.banner{
    margin: 5% 0 0 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    padding: 0 5% 1% 5%
}

.BannerHeading{
    padding: 22% 0 0 0;
    font-size: 2.5em;
    width: 100%;
    color: rgb(53, 53, 53);
    letter-spacing: 3px;
    font-weight: bold;
}

.bigHeader{
    color: #b47114;
}

.smallHeader{
    color: rgb(77, 83, 77);
    font-size: 0.5em;
}

.gridBannerImg{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    height: 40vh;
    margin: 3% 0 2% 0;
}

.gridImg{
    width: 100%;
    height: 40vh;
    border-radius: 5%;
}


.bannerImg{
    width: 100%;
    height: 40vh;
}



.gallery{
    background-color:  #e49629;
    font-size: 0.4em;
    padding: 2% 5%;
    width: 40%;
    border: 1px solid #BB8E51;
    margin: 5% 0 0 0;
    border-radius: 10px;
    color: white;
}

.gallery:hover{
    background-color: #BB8E51;
}

.gallery span{
    padding: 0 3% 0 0;
}

.Login:hover{
    color: #BB8E51;
}

.studentHeader{
    color: #b47114;
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 2em;
    padding: 2% 0;
    letter-spacing: 5px;
}

.comradeGrid{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 1% 5% 1% 5%;
    justify-content: space-between;
    border-radius: 5px;
}


.comradePics{
    width: 100%;
    height: 50vh;
}

.comradePics:hover{
    opacity: 0.5
}

.imageHolder:hover{
    background-color: #BB8E51;
}

.comradeName{
    text-align: center;
    text-transform: uppercase;
    color: #b47114;
    font-size: 1em;
}

.comradeAKA{
    text-align: center;
    font-size: 0.8em;
    color: black;
    padding: 0 0 5% 0;
}

.footer{
    font-size: 0.7em;
    text-align: center;
    background-color: #b47114;
    color: white;
    letter-spacing: 2px;
    font-family: 'Fredoka One';
    padding: 0.5% 0;
}

/* mobile view */
@media only screen and (max-width: 900px) {
    .navs{
        padding: 5% 5% 4% 5%;
    }

    .logoName{
        font-size: 1.5em;
    }

    .loginName{
        margin: -10% 0 0 0;
    }

    .Login{
        margin: -4% 0 0 0;
    }

    .banner{
        display: block;
    }

    .BannerHeading{
        margin: 0 0 10% 0;
    }

    .gridBannerImg{
        display: none;
    }

    .studentSection{
        margin: 10% 0 0 0;
    }

    @media only screen and (max-width: 380px) {
        .studentSection{
            margin: 25% 0 0 0;
        }
    }



    .comradeGrid{
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    .comradePics{
        height: 30vh;
    }
  }

