.mobileSidebar{
    display: none;
}

.closeMobileBar{
    display: none;
}
/* mobile view */
@media only screen and (max-width: 800px) {
.mobileSidebar{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    opacity: 1;
}

.closeMobileBar{
    display: block;
    transition: 5sec left;
    position: absolute;
    top: 10%;
    left: 0;
    width: 0;
    background-color: white;
    z-index: 100;
    opacity: 0;
}
}
